﻿<div class="modal fade" role="dialog" id="appointmentInput" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="appointmentForm" autocomplete="off" novalidate="novalidate">
                <div class="modal-header">
                    @if (User.IsInRole(AppointmentScheduling.Utility.Helper.Admin))
                    {
                        <h4 class="modal-title">Add/Edit Appointment</h4>
                    }
                    else
                    {
                        <h4 class="modal-title">Appointment Details</h4>
                    }
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" maxlength="100" class="form-control" id="title" />
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" id="description"></textarea>
                    </div>
                    @if (User.IsInRole(AppointmentScheduling.Utility.Helper.Admin))
                    {
                        <div class="form-group">
                            <label for="patientId">Select Patient:</label>
                            <select id="patientId" asp-items="@(new SelectList(ViewBag.PatientList, "Id", "Name"))" class="form-control"></select>
                        </div>
                    }
                    else
                    {
                        @if (User.IsInRole(AppointmentScheduling.Utility.Helper.Doctor))
                        {
                            <div class="form-group">
                                <label for="lblPatientName">Patient Name</label>
                                <label disabled id="lblPatientName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="lblStatus">Status</label>
                                <label disabled id="lblStatus" class="form-control" />
                            </div>
                        }

                        @if (User.IsInRole(AppointmentScheduling.Utility.Helper.Patient))
                        {
                            <div class="form-group">
                                <label for="lblDoctorName">Doctor Name</label>
                                <label disabled id="lblDoctorName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="lblStatus">Status</label>
                                <label disabled id="lblStatus" class="form-control" />
                            </div>
                        }

                    }
                    <div class="form-group">
                        <label for="appointmentDate">Start Date Time</label>
                        <input id="appointmentDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="duration">Duration:</label>
                        <select id="duration" asp-items="ViewBag.Duration" class="form-control"></select>
                    </div>
                    <input type="hidden" id="id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="onCloseModal();">Close</button> &nbsp;

                    @if (User.IsInRole(AppointmentScheduling.Utility.Helper.Admin))
                    {
                        <button type="button" id="btnSubmit" class="btn btn-success" onclick="onSubmitForm();">Submit</button>
                        <button type="button" id="btnDelete" class="btn btn-danger" onclick="onDeleteAppointment();">Delete</button>

                    }

                    @if (User.IsInRole(AppointmentScheduling.Utility.Helper.Doctor))
                    {
                        <button type="button" id="btnConfirm" class="btn btn-success" onclick="onConfirm();">Confirm</button>
                        <button type="button" id="btnDelete" class="btn btn-danger" onclick="onDeleteAppointment();">Delete</button>

                    }

                </div>
            </form>
        </div>
    </div>
</div>